<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ratemyinternship</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/addReviewAndAdmin.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<!-- Navbar with Home, about, documentation, contribute(rate an internship)  -->
<nav class="navbar navbar-expand-lg navbar-custom" id="navbar-custom">
    <a class="navbar-brand" href="/">RATE MY INTERNSHIP</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/documentation">DOCUMENTATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addReview">ADD A REVIEW</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <header>
        <div class="row justify-content-center">
            <h1> Thank you!</h1>
        </div>
        <div class="row justify-content-center">
            <p class="lead">Thank you for adding to our database of internship ratings. Please take the time to fill out the questionnaire below.</p>
        </div>
    </header>

    <form action="/submit" method="post">
        <div class="container container-inner">
            <div class="form-group row">
                <div class="col-3">
                    <label for="company">Company Name</label>
                </div>
                <div class="col-9">
                    <input type="text" name="company" id="company" class="form-control" placeholder="Company Name" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="location">Location</label>
                </div>
                <div class="col-9">
                    <input type="text" name="location" id="location" class="form-control" placeholder="City, St." required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="position">Position</label>
                </div>
                <div class="col-9">
                    <input type="text" name="position" id="position" class="form-control" placeholder="Software Engineering Intern" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="start" id="startlabel" class="col-form-label">Start Date</label>
                </div>
                <div class="col-5">
                    <input type="date" name="start" id="start" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="end" id="endlabel" class="col-form-label">End Date</label>
                </div>
                <div class="col-5">
                    <input type="date" id="end" name="end" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Internship Type:</label>
                </div>
                <div class="col-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="mecop" value="mecop" name="interntypes">
                        <label class="form-check-label" for="mecop">MECOP</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="pcep" value="pcep" name="interntypes">
                        <label class="form-check-label" for="pcep">PCEP</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="other" value="pcep" name="interntypes" checked>
                        <label class="form-check-label" for="other">Other</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Pay Type:</label>
                </div>
                <div class="col-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="annual" value="Annual" name="paytypes" checked>
                        <label class="form-check-label" for="annual">Annual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="hourly" value="Hourly" name="paytypes">
                        <label class="form-check-label" for="hourly">Hourly</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="pay">Pay Amount</label>
                </div>
                <div class="col-5">
                    <select class="form-control" id="pay" name="pay" required>
                        <option>$20,000 - $35,000</option>
                        <option>$35,000 - $50,000</option>
                        <option>$50,000 - $65,000</option>
                        <option>$65,000 - $80,000</option>
                        <option>$80,00+</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="overview_descr">Please provide a brief description of the work completed in this internship.</label>
                <textarea class="form-control" rows="6" id="overview_descr" name="overview_descr"></textarea>
            </div>
        </div>
    <header>
        <div class="row justify-content-center">
            <h1>Ratings</h1>
        </div>
        <div class="row justify-content-center">
            <p class="lead">Please rate your internship experiences below. 1 being poor and 5 being excellent!</p>
        </div>
    </header>

    <div class="container">

        <!-- Overall Rating -->
        <div class="form-group row">
            <div class="col-5">
                <label>Overall Experience:</label>
                <small class="form-text">Please rate your overall experience</small>
            </div>
            <div class="col-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="overall1" value="1" name="overall" required>
                    <label class="form-check-label" for="overall1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="overall2" value="2" name="overall">
                    <label class="form-check-label" for="overall2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="overall3" value="3" name="overall">
                    <label class="form-check-label" for="overall3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="overall4" value="4" name="overall">
                    <label class="form-check-label" for="overall4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="overall5" value="5" name="overall">
                    <label class="form-check-label" for="overall5">5</label>
                </div>
            </div>
        </div>

        <!--Leadership Ratings -->
        <div class="form-group row">
            <div class="col-5">
                <label>Leadership:</label>
                <small class="form-text">Rate how invested management was in your success? This can include your
                immediate superior, your superior's superior, and/or CEO.</small>
            </div>
            <div class="col-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="leadership1" value="1" name="leadership" required>
                    <label class="form-check-label" for="leadership1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="leadership2" value="2" name="leadership">
                    <label class="form-check-label" for="leadership2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="leadership3" value="3" name="leadership">
                    <label class="form-check-label" for="leadership3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="leadership4" value="4" name="leadership">
                    <label class="form-check-label" for="leadership4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="leadership5" value="5" name="leadership">
                    <label class="form-check-label" for="leadership4">5</label>
                </div>
            </div>
        </div>

        <!--Team Communication Ratings -->
        <div class="form-group row">
            <div class="col-5">
                <label>Team Communication:</label>
                <small class="form-text">Rate how well your team communicated. Was communication regular and used tools other than email?</small>
            </div>
            <div class="col-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="communication1" value="1" name="communication" required>
                    <label class="form-check-label" for="communication1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="communication2" value="2" name="communication">
                    <label class="form-check-label" for="communication2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="communication3" value="3" name="communication">
                    <label class="form-check-label" for="leadership3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="communication4" value="4" name="communication">
                    <label class="form-check-label" for="communication4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="communication5" value="5" name="communication">
                    <label class="form-check-label" for="communication5">5</label>
                </div>
            </div>
        </div>

        <!--Flexibility Ratings -->
        <div class="form-group row">
            <div class="col-5">
                <label>Flexibity in Schedule:</label>
                <small class="form-text">Rate how flexible your schedule was to account for classes, office hours and other student activites.</small>
            </div>
            <div class="col-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="flex1" value="1" name="flexible" required>
                    <label class="form-check-label" for="flex1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="flex2" value="2" name="flexible">
                    <label class="form-check-label" for="flex2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="flex3" value="3" name="flexible">
                    <label class="form-check-label" for="flex3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="flex4" value="4" name="flexible">
                    <label class="form-check-label" for="flex4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="flex5" value="5" name="flexible">
                    <label class="form-check-label" for="flex5">5</label>
                </div>
            </div>
        </div>

        <!-- Culture Ratings -->
        <div class="form-group row">
            <div class="col-5">
                <label>Company Culture:</label>
                <small class="form-text">Rate how well the company respected different cultures.
                    A rating of 5 would mean that they are a shining example of a diverse and inclusive place.</small>
            </div>
            <div class="col-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="culture1" value="1" name="culture" required>
                    <label class="form-check-label" for="culture1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="culture2" value="2" name="culture">
                    <label class="form-check-label" for="culture2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="culture3" value="3" name="culture">
                    <label class="form-check-label" for="culture3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="culture4" value="4" name="culture">
                    <label class="form-check-label" for="culture4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="culture5" value="5" name="culture">
                    <label class="form-check-label" for="culture5">5</label>
                </div>
            </div>
        </div>

        <!-- Team Recommendation -->
        <div class="form-group row">
            <div class="col-5">
                <label>Internship Recommendation:</label>
                <small class="form-text">How likely are you to recommend this specific internship with this specific team?</small>
            </div>
            <div class="col-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="internrec1" value="1" name="internrec" required>
                    <label class="form-check-label" for="internrec1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="internrec2" value="2" name="internrec">
                    <label class="form-check-label" for="internrec2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="internrec3" value="3" name="internrec">
                    <label class="form-check-label" for="internrec3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="internrec4" value="4" name="internrec">
                    <label class="form-check-label" for="internrec4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="internrec5" value="5" name="internrec">
                    <label class="form-check-label" for="internrec5">5</label>
                </div>
            </div>
        </div>

        <!-- Company Recommendation -->
        <div class="form-group row">
            <div class="col-5">
                <label>Company Recommendation:</label>
                <small class="form-text">How likely are you to recommend interning at this company?</small>
            </div>
            <div class="col-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="comprec1" value="1" name="comprec" required>
                    <label class="form-check-label" for="comprec1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="comprec2" value="2" name="comprec">
                    <label class="form-check-label" for="comprec2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="comprec3" value="3" name="comprec">
                    <label class="form-check-label" for="comprec3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="comprec4" value="4" name="comprec">
                    <label class="form-check-label" for="comprec4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="comprec5" value="5" name="comprec">
                    <label class="form-check-label" for="comprec5">5</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="ratings_descr">Please use this space to explain any reasoning to your ratings if applicable.</label>
            <textarea class="form-control" rows="6" name="ratings_descr" id="ratings_descr"></textarea>
        </div>

    </div> <!-- close container -->
    <div class="form-group row">
        <div class="col-4">
            <label for="submit">
            <button class="btn btn-primary" type="submit" id="submit" value="Submit" onclick="submit_form()">
                Submit
            </button>
            </label>
            <label for="reset">
                <button class="btn btn-secondary" type="reset" id="reset" value="Reset" onlick="reset_form()">
                    Reset
                </button>
            </label>
        </div>
    </div>
    </form>
</div>


<script type="text/javascript" src="../static/js/addReview.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>