<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/addReviewAndAdmin.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<!-- Navbar with Home, about, documentation, contribute(rate an internship)  -->
<nav class="navbar navbar-expand-lg navbar-custom" id="navbar-custom">
    <a class="navbar-brand" href="/">RATE MY INTERNSHIP</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/documentation">DOCUMENTATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addReview">ADD A REVIEW</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container card">
    <form id="adminAuth">
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" id=user class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <label for="pw">Password</label>
            <input type="password" id="pw" class="form-control" placeholder="password">
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label for="submit">
                    <button class="btn btn-primary" type="submit" id="submit" value="Submit" onclick="submit_auth()">
                        Submit
                    </button>
                </label>
            </div>
            <div class="col-3">
                <label for="reset">
                    <button class="btn btn-secondary" type="reset" id="reset" value="Reset" onlick="reset_form()">
                        Reset
                    </button>
                </label>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="static/js/adminAuth.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
