<!DOCTYPE html>
<html lang="en">
<head>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/addReviewAndAdmin.css" />

    <meta charset="UTF-8" />
    <title>Rate My Internship</title>
</head>
<body>
<!--  Get page with URL and json box -->
<!-- Navbar with Home, about, documentation, contribute(rate an internship)  -->
<nav class="navbar navbar-expand-lg navbar-custom" id="navbar-custom">
    <a class="navbar-brand" href="/">RATE MY INTERNSHIP</a>
    <button
            class="navbar-toggler"
            type="button"
            style="border: 2px solid #E0E0E0;"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <div class="horizontal-line"><div class="horizontal-line"></div></div>
        <div class="horizontal-line2"></div>
        <span class="navbar-toggler-icon icon-bar" id="toggler-icon-custom"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/documentation">DOCUMENTATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addReview">ADD A REVIEW</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <br />
    <h2>DELETE</h2>
    <label for="searchBox"></label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="prepend">https://ratemyinternship.com/api/</span>
        </div>
        <input class="form-control" type="text" value="all/" placeholder="all/" id="searchBox" />
        <button type="submit" id="submitButton"><i class="fa fa-search"></i></button>
    </div>
    <form action="/delete" method="post" id="admin-form">
        <table class="table table-striped table-hover" id="admin-table">
            <thead>
            <tr>
                <th>UID</th>
                <th>Company</th>
                <th>Location</th>
                <th>Position</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Intern Type</th>
                <th>Pay Type</th>
                <th>Pay Amount</th>
                <th>Work Description</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
        <div class="form-group row">
            <div class="col-4">
                <label for="submit">
                    <button class="btn btn-primary" id="submit">
                       Delete Selected
                    </button>
                </label>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script typescript="text/javascript" src="../static/js/admin.js"></script>
</body>
</html>
