<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />

    <meta charset="UTF-8" />
    <title>Rate My Internship</title>
  </head>
  <body>
    <!--  Get page with URL and json box -->
    <!-- Navbar with Home, about, documentation, contribute(rate an internship)  -->
    <nav class="navbar navbar-expand-lg navbar-custom" id="navbar-custom">
      <a class="navbar-brand" href="/">RATE MY INTERNSHIP</a>
      <button
        class="navbar-toggler"
        type="button"
        style="border: 2px solid #E0E0E0;"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="horizontal-line"><div class="horizontal-line"></div></div>
        <div class="horizontal-line2"></div>
        <span
          class="navbar-toggler-icon icon-bar"
          id="toggler-icon-custom"
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/documentation">DOCUMENTATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addReview">ADD A REVIEW</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <br />
      <h2>Try it out!</h2>
      <label for="searchBox"></label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="prepend"
            >https://ratemyinternship.com/api/</span
          >
        </div>
        <input
          class="form-control"
          type="text"
          value="all/"
          placeholder="all/"
          id="searchBox"
        />
        <button type="submit" id="submitButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <p>
        Need a hint? Try: <a href="javascript:;" id="allExample">all/</a>,
        <a href="javascript:;" id="locationExample"
          >location/San%20Diego,%20CA</a
        >
        or
        <a href="javascript:;" id="paytypeAnnualExample">pay_type/Annual</a>
      </p>
      <label for="response">Response:</label>
      <br />
      <textarea class="response" id="response" name="response" readonly>
      </textarea>
    </div>
    <br />
    <div class="container" id="container-2">
      <div class="card text-white card-custom" style="max-width: 18rem;">
        <div class="card-header">ABOUT</div>
        <div class="card-body">
          <h5 class="card-title">What is this?</h5>
          <p class="card-text">
            Portland's greatest source for reviews on internships and the
            companies that host them.
          </p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script typescript="text/javascript" src="../static/js/index.js"></script>
  </body>
</html>
