<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/addReviewAndAdmin.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<!-- Navbar with Home, about, documentation, contribute(rate an internship)  -->
<nav class="navbar navbar-expand-lg navbar-custom" id="navbar-custom">
    <a class="navbar-brand" href="/">RATE MY INTERNSHIP</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/documentation">DOCUMENTATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addReview">ADD A REVIEW</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <table class="table">
        <tr>
            <th class="scope">#</th>
            <th class="scope">Company</th>
            <th class="scope">Location</th>
            <th class="scope">Position</th>
            <th class="scope">Start Date</th>
            <th class="scope">End Date</th>
            <th class="scope">Intern Type</th>
            <th class="scope">Pay Type</th>
            <th class="scope">Pay Amount</th>
            <th class="scope">Work Description</th>


        </tr>
    </table>
</div>

<script type="text/javascript" src="static/js/admin.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
