section{
    height:100%;
}
h1{
    color: white;
}

.container{
    margin: 25px auto;
    border-radius: 12pt;
    padding: 15px;
    background-color: rgba(255,255,255,.1)
}

table{
    background-color: rgba(255,255,255,.2);
}
#admin-table{
    width: 100%;
}

th{
    white-space: nowrap;
}

.container.card{
    width: 35%;
    background-color: rgba(255,255,255,.1);
    box-shadow: 5px 40px 40px 15px rgba(0, 0, 0, .3);
}

#admin-form{
    width: 100%;
}

form{
    color: white;
    margin: 0 auto;
}

header{
    color: white;
}

#reset{
    background-color: #845EC2;
    border: none;
}
#submit{
    background-color: #845EC2;
    border: none;
}

label, #startlabel, #endlabel{
    font-size: 1.2em;
    text-transform: uppercase;
}

.general_info{
}

.form-group.row{
    padding-top:20px;
}


