body {
    background-image: linear-gradient(
            to right top,
            #845ec2,
            #0089ba,
            #008e9b,
            #008f7a
    );
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Roboto Mono", sans-serif, monospace;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom a {
    color: white;
    font-family: "Roboto Mono", sans-serif, monospace;
}

.navbar-custom a:hover {
    border-bottom: solid #845ec2 1px;
}

#expresslink, #nodelink, .mylink {
    color: white;
}
#expresslink:hover, #nodelink:hover, .mylink:hover {
    color: #008f7a;
}

#admin-table{
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    margin: 0 auto;
}

