section{
    height:100%;
}

.container{
    margin: 25px auto;
    border-radius: 12pt;
    padding: 15px;
    width: 65%;
    background-color: rgba(255,255,255,.1)
}

.container.container-inner{
    padding: 30px;
}

form{
    color: white;
    width: 85%;
    margin: 0 auto;

}

header{
    color: white;
}

#reset{
    background-color: #845EC2;
    border: none;
}
#submit{
    background-color: #845EC2;
    border: none;
}

label, #startlabel, #endlabel{
    font-size: 1.2em;
    text-transform: uppercase;
}

.general_info{
}

.form-group.row{
    padding-top:20px;
}

