body{
    background-image: linear-gradient(to right top, #845EC2, #0089BA, #008E9B, #008F7A);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section{
    height:100%;
}

.container{
    margin: 30px auto;
    border-radius: 12pt;
    padding: 25px;
    width: 65%;
    background-color: rgba(255,255,255,.1)
}

form{
    color: white;

}

header{
    color: white;
}

#reset{
    background-color: #845EC2;
}

label{
    font-size: 1.2em;
}

.general_info{
    width: 85%;
    margin: 0 auto;
}

.form-group.row{
    padding-top:20px;
}

